@page "{id:int}"
@model Bakery.RazorPages.Client.Pages.OrderModel
@{
    ViewData["Title"] = "Place Your Order";
}
<hr />
<ol id="orderProcess">
    <li><span class="step-number">1</span>Choose Item</li>
    <li class="current"><span class="step-number">2</span>Details &amp; Submit</li>
    <li><span class="step-number">3</span>Receipt</li>
</ol>
<hr />
<h1>Place Your Order: @Model.Product.Name</h1>
<form method="post">
    <div class="row">
        <div class="col-3">
            <img src="/images/products/thumbnails/@Model.Product.ImageName" class="img-fluid img-thumbnail" alt="Image of @Model.Product.Name">
        </div>
        <div class="col-9">
            <ul class="orderPageList" data-role="listview">
                <li>
                    <div>
                        <p class="description">@Model.Product.Description</p>
                    </div>                
                </li>
                <li class="name">
                    <div class="form-group">
                        <label asp-for="Order.CustomerName"></label>
                        <input asp-for="Order.CustomerName" class="form-control form-control-sm" />                
                        <span asp-validation-for="Order.CustomerName"></span>
                    </div>
                </li>
                <li class="phone">
                    <div class="form-group">
                        <label asp-for="Order.CustomerPhone"></label>
                        <input asp-for="Order.CustomerPhone" class="form-control form-control-sm" />                
                        <span asp-validation-for="Order.CustomerPhone"></span>
                    </div>
                </li>
                <li class="email">
                    <div class="form-group">
                        <label asp-for="Order.OrderEmail"></label>
                        <input asp-for="Order.OrderEmail" class="form-control form-control-sm" />                
                        <span asp-validation-for="Order.OrderEmail"></span>
                    </div>
                </li>
                <li class="shipping">
                    <div class="form-group">
                        <label asp-for="Order.OrderShipping"></label>
                        <input asp-for="Order.OrderShipping" class="form-control form-control-sm"></textarea>               
                        <span asp-validation-for="Order.OrderShipping"></span>
                    </div>
                </li>
                <div class="form-group">
                    <input type="hidden" asp-for="Order.OrderProduct" value="@Model.Product.Name" />
                    <span asp-validation-for="Order.OrderProduct"></span>
                </div>
                <li class="quantity">
                    <div class="form-group">
                        <label asp-for="Order.OrderQuantity"></label>
                        <input asp-for="Order.OrderQuantity" class="form-control form-control-sm"/>
                        <span asp-validation-for="Order.OrderQuantity"></span>
                    </div>
                </li>
            </ul>
            <p class="actions">
                <button class="btn btn-danger order-button">Place Order</button>
            </p>
        </div>
    </div>
</form>
@section scripts{
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}